.slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.swiper-slide {
  flex-shrink: 0;
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
  box-sizing: border-box;
}
.swiper-slide:last-child {
  margin-right: 0;
}
.swiper-slide img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ddd;
}

.swiper-slide h3 {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.slider__btn--prev,
.slider__btn--next {
  width: 46px;
}

.slider__btn--next::after,
.slider__btn--prev::after {
  display: none;
}
.swiper-navigation-icon {
  display: none;
}
.slider__btn--prev {
  left: 10px;
}
.slider__btn--next {
  right: 10px;
}

.slider__pagination {
  display: flex;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
}

.slider__bullet {
  width: 8px;
  height: 8px;
  background-color: #080c09;
  opacity: 0.2;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.slider__bullet--active {
  opacity: 1;
}
.slider__colors {
  display: flex;
  flex-direction: row;
}
.slider__color {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f5deb3;
}
