.mySwiper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.swiper-slide {
  flex-shrink: 0;
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
  box-sizing: border-box;
}
.swiper-slide:last-child {
  margin-right: 0;
}
.swiper-slide img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ddd;
}

.swiper-slide h3 {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.swiper-button-prev,
.swiper-button-next {
  color: #333;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgb(255, 0, 0);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}

.swiper-pagination {
  text-align: center;
  margin-top: 15px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0);
  opacity: 1;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #007bff;
  transform: scale(1.3);
}
